<ul>
    <li>
        <a class="link" href="/registro"> &nbsp; Cadastro de Clientes &nbsp; </a>
    </li>
    <br>

    <li>
        <a class="link" href="/list"> &nbsp; Listagem de Clientes &nbsp; </a>
    </li>
    <br>

    <li>
        <a class="link" href="/registroProdutos"> &nbsp; Cadastro de Produtos &nbsp; </a>
    </li>
    <br>
    
    <li>
        <a class="link" href="/listProdutos"> &nbsp; Listagem de Produtos &nbsp; </a>
    </li>
    <br>

    <li>
        <a class="link" href="/formulario"> &nbsp; Formulário de Venda &nbsp; </a>
    </li>
    <br>

    <li>
        <a class="link" href="/resumos"> &nbsp; Resumo de Venda &nbsp; </a>
    </li>
    <br>

</ul>

<hr>

<!-- Barra de navegação (linkando ela em todas as paginas)-->